html body {
    width: 100vw;
    height: 100vh;
    background-color: black !important;
    margin: 0px;
    padding: 0px;
}

.cube-view {
    width: 90%;
    height: 90%;
    position: fixed;
    overflow: hidden;
    left: 50%;
    transform: translate(-50%);
}

.mac {
    position: fixed;
    bottom: 0px;
    right: 0px;
}

#mac {
    display:none;
}

#titanic {
    float: none;
}