html body {
    width: 100vw;
    height: 100vh;
    background-color: white;
    margin: 0px;
    padding: 0px;
}

.cube-view {
    width: 50%;
    height: 50%;
    position: fixed;
    overflow: visible;
}

.mac {
    position: fixed;
    top: 320px;
}